<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iothubtotwins20230801151900.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7de02161-6da2-4424-aeed-0cdb7075da18/resourcegroups/nmslresearch/providers/Microsoft.Web/sites/IoTHubtoTwins20230801151900</ResourceId>
    <UserName>$IoTHubtoTwins20230801151900</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://iothubtotwins20230801151900.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>